@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Info Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>

<strong>Desde la vista parcial</strong>
<partial name="ListaObjetosEscuela"/>

<p>@ViewBag.Fecha</p>
